#scrollingBanner {
  height: 220px;
  overflow: hidden;
  position: relative;
  display: block;
  margin-bottom: 20px;
}

#scrollingBanner:before {
  content: "";
  display: block;
  position: absolute;
  width: 5250px;
  height: 100%;
  background: url('../images/scroll.jpg');
  animation: scroll 150s linear infinite;
}

@keyframes scroll {
  100% { 
    transform: translateX(-50%);
  }
}